@font-face {
    font-family: Baybayin;
    src: url(fonts/BaybayinNamin2020-4.otf);
  }

/* @font-face {
    font-family: BaybayinRegular;
    src: url("https://jennayey.com/BaybayinNamin2020.ttf");
  } */

  #outputText::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    opacity: 1; /* Firefox */
  }

body {
  background-color: F3F6FF;
  padding-top: 30px;
}
button {
 margin-top: 20px;
}
#outputText {
  padding-top: 30px;
      font-family: Baybayin;
      font-size:30px;
     width: 100%;
      overflow: wrap;
  }

#rawText {
  resize:none;
  width: 100%;
  font-size:30px;

  border-color: #C0C6FF;
}

