@font-face {
  font-family: Baybayin;
  src: url(fonts/BaybayinNamin2020-4.otf);
}

@font-face {
  font-family: NunitoBold;
  src: url(fonts/Nunito-Bold.ttf);
}

@font-face {
  font-family: NunitoRegular;
  src: url(fonts/Nunito-Regular.ttf);
}

/* @font-face {
    font-family: BaybayinRegular;
    src: url("https://jennayey.com/BaybayinNamin2020.ttf");
  } */
:root {
  --border-radius: 10px;
  --bg-color: #f3f6ff;
  --headings-color: #00109b;
  --text-color: #110063;
  --accent-color: #6070ff;
  --padding: 1em;
}

#translatedText::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: NunitoBold;
  opacity: 1; /* Firefox */
}

textarea::placeholder {
  color: #bbbbbb;
}
body {
  background-color: var(--bg-color);
  padding-top: 30px;
}

h1,
h2 {
  font-family: NunitoBold;
  color: var(--headings-color);
}
#mainDiv {
  display: flex;
  justify-content: center;
}
#translatorDiv {
  width: 65vw;
  border-style: solid;
  border-color: var(--accent-color);
  border-radius: var(--border-radius);
  background-color: white;
}
#translatedText {
  font-family: Baybayin;
}

#rawText {
  font-family: NunitoBold;
}
hr {
  border-top: 2px solid var(--accent-color);
}
textarea {
  border-radius: var(--border-radius);
  resize: none;
  border: none;
  padding: 30px;
  font-size: 1.4em;
  width: 100%;
  box-sizing: border-box;
  line-height: 1em;
  outline: none;
  color: var(--text-color);
  background-color: white;
}
#buttons {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline:none;
}

button h2 {
  margin: 10px 0px;
}



@media screen and (max-width: 728px){ 
  #translatorDiv {
    width: 85vw;
  }
  textarea {
    padding: var(--padding);
    font-size: 1.3em;
    height: 20vh;
  }
}